<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5sJnJ_vaT3tIuYUxuYX9BcXDAMmb19h4</string>
	<key>GCM_SENDER_ID</key>
	<string>647636807219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gpsmedical.patientApp</string>
	<key>PROJECT_ID</key>
	<string>gps-medical-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>gps-medical-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647636807219:ios:7c6393de3a22b4ad393d46</string>
</dict>
</plist>